@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --font-family: "Fraunces", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Fraunces", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FEFCF7;
  overflow-x: hidden;
  margin: 0;
}

.container {
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  padding-top: 32px;
  padding-bottom: 40px;
}

.header_img_link {
  display: inline-block;
  width: 163px;
}

.header_list {
  gap: 33px;
  display: none;
}

.header_link {
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}

.header_btn {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/menu.svg);
  border: none;
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header_img_link {
    width: 236px;
  }
  .header_btn {
    display: none;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero_block {
  padding: 100px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/hero_mobile.jpg);
  text-align: center;
  border-radius: 10px;
}

.hero_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #fefcf7;
  margin-bottom: 24px;
}

.hero_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
  margin-bottom: 39px;
}

.hero_btn {
  border-radius: 6px;
  background-color: #0e8784;
  font-family: var(--font-family);
  padding: 16px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
}

@media screen and (min-width: 768px) {
  .hero_block {
    padding: 104px 58px;
    background-image: url(../../img/hero_tablet.jpg);
    text-align: start;
  }
  .hero_title {
    font-size: 48px;
    line-height: 100%;
    width: 329px;
  }
  .hero_text {
    font-size: 15px;
    line-height: 167%;
    width: 398px;
  }
}
@media screen and (min-width: 992px) {
  .hero_block {
    padding: 117px 85px;
    background-image: url(../img/desktop.png);
    text-align: start;
  }
  .hero_title {
    font-size: 72px;
    width: 493px;
    margin-bottom: 32px;
  }
  .hero_text {
    font-size: 16px;
    margin-bottom: 56px;
    width: 445px;
  }
}
.collection {
  padding-top: 205px;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-position: top 138px center;
  background-image: url(../../img/collection_bg_img.png);
}

.collection_item {
  text-align: center;
  margin-bottom: 48px;
}

.collection_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  color: #333d4b;
  margin-top: 24px;
  margin-bottom: 16px;
}

.collection_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #333d4b;
  width: 282px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .collection {
    padding-bottom: 144px;
    background-image: url(../img/tablet_bg_img.png);
    background-position: top 157px center;
  }
  .collection_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 36px;
    margin-bottom: 32px;
  }
  .collection_title {
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 24px;
  }
  .collection_text {
    font-size: 15px;
    line-height: 167%;
  }
}
@media screen and (min-width: 992px) {
  .collection {
    padding-top: 136px;
    padding-bottom: 200px;
    background-image: url(../img/desktop_bg_img.png);
    background-position: top 13px center;
  }
  .collection_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .collection_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .collection_title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .collection_text {
    font-size: 16px;
    width: 255px;
  }
}
.choose {
  padding-bottom: 120px;
}

.choose_block {
  background-color: #282f38;
  padding: 67px 24px;
  border-radius: 10px;
  position: relative;
}
.choose_block::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 10px;
  height: 600px;
  background-color: #282f38;
  z-index: -1;
}

.choose_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 30px;
}

.choose_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fefcf7;
}

.choose_list {
  padding: 0 24px;
}

.choose_item {
  background-color: #0e8784;
  border-radius: 8px;
  padding: 72px 34px 51px 34px;
  margin-bottom: 24px;
  text-align: center;
}
.choose_item::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/choose_icon.svg);
}

.choose_sub_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 24px;
  color: #fefcf7;
}

.choose_des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
}

@media screen and (min-width: 768px) {
  .choose_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    padding: 41px 48px 41px 70px;
    gap: 55px;
  }
  .choose_item::before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose_list {
    padding: 0 58px;
  }
  .choose_block::after {
    height: 372px;
  }
}
@media screen and (min-width: 992px) {
  .choose_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 41px 48px 41px 70px;
  }
  .choose_list {
    display: grid;
    padding: 0 85px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .choose_block::after {
    height: 284px;
  }
  .choose_text {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
.work_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #83888f;
  margin-bottom: 80px;
}

.work_list_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 114%;
  color: #333d4b;
  margin-top: 24px;
  margin-bottom: 24px;
}

.work_list_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #333d4b;
}

.work_item {
  text-align: center;
  margin-bottom: 56px;
}
.work_item::before {
  content: "01";
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #fdd6ba;
}
.work_item:nth-child(2)::before {
  content: "02";
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #fdd6ba;
}
.work_item:nth-child(3)::before {
  content: "03";
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #fdd6ba;
}

.work_btn {
  border-radius: 6px;
  background-color: #0e8784;
  padding: 16px 31px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.work_line_list {
  width: 497px;
  height: 2px;
  background-color: #fdd6ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 48px;
  display: none;
}

.work_line_item1 {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0e8784;
  position: absolute;
  left: 0;
  -webkit-animation-name: box_item;
          animation-name: box_item;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.work_line_item2 {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0e8784;
}

.work_line_item3 {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0e8784;
  position: absolute;
  right: 0;
  -webkit-animation-name: box_item3;
          animation-name: box_item3;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes box_item {
  0% {
    left: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
  50% {
    left: 90%;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    background: blueviolet;
  }
  100% {
    left: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
}

@keyframes box_item {
  0% {
    left: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
  50% {
    left: 90%;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    background: blueviolet;
  }
  100% {
    left: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
}
@-webkit-keyframes box_item3 {
  0% {
    right: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
  50% {
    right: 90%;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    background: blueviolet;
  }
  100% {
    right: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
}
@keyframes box_item3 {
  0% {
    right: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
  50% {
    right: 90%;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    background: blueviolet;
  }
  100% {
    right: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    background: #fff;
  }
}
@media screen and (min-width: 768px) {
  .work_line_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .work_list_title {
    width: 223px;
  }
  .work_list_text {
    width: 223px;
  }
  .work_item {
    text-align: start;
  }
  .work_title {
    text-align: start;
    margin-bottom: 0;
  }
  .work_btn {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .work_line_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    margin-top: 80px;
    margin-bottom: 67px;
  }
  .work_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 95px;
       -moz-column-gap: 95px;
            column-gap: 95px;
  }
  .work_list_title {
    width: 230px;
  }
  .work_list_text {
    width: 268px;
  }
  .work_item {
    text-align: start;
  }
  .work_title {
    text-align: start;
  }
  .work_btn {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer {
  padding-top: 120px;
  padding-bottom: 54px;
}

.footer_block {
  background-color: #2c343e;
  padding: 54px;
}

.footer_link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}

.footer_item {
  text-align: center;
  margin-bottom: 24px;
}

.footer_logo {
  margin-bottom: 30px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer_icon_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 33px;
    margin-bottom: 65px;
  }
  .footer_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 47px;
    padding: 47px 85px;
  }
  .footer_boss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 102px;
  }
  .footer_list {
    margin-bottom: 0;
  }
  .footer_logo {
    margin-bottom: 0;
  }
  .footer_item {
    margin-bottom: 0;
  }
}
.about_block {
  padding: 111px 24px 87px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/about_img.jpg);
  text-align: center;
}

.about_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  color: #fefcf7;
  margin-bottom: 24px;
}

.about_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
}

@media screen and (min-width: 768px) {
  .about_block {
    padding: 118px 58px;
    background-image: url(../img/about_tablet.jpg);
    border-radius: 10px;
    text-align: start;
  }
  .about_title {
    font-size: 32px;
    line-height: 125%;
  }
  .about_text {
    width: 398px;
  }
}
@media screen and (min-width: 992px) {
  .about_block {
    padding: 137px 85px;
    background-image: url(../img/about_desktop.jpg);
  }
  .about_title {
    font-size: 40px;
    line-height: 120%;
  }
  .about_text {
    font-size: 16px;
    line-height: 162%;
    width: 445px;
  }
}
.our {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our_block {
  text-align: center;
}

.our_img_block {
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}

.our_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  color: #333d4b;
  margin-top: 48px;
}

.our_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #333d4b;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .our_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 69px;
    text-align: start;
  }
  .our_img_block {
    width: 281px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .our_content {
    width: 339px;
  }
}
@media screen and (min-width: 992px) {
  .our_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 69px;
    text-align: start;
  }
  .our_img_block {
    width: 445px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .our_content {
    width: 540px;
  }
}
.quality_img_block {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 64px;
}

.quality_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  color: #fefcf7;
  margin-bottom: 24px;
}

.quality_content {
  text-align: center;
}

.quality_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
}

.quality_block {
  padding: 64px 24px;
  position: relative;
}
.quality_block::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #2c343e;
  height: 80%;
  left: 0;
  width: 100%;
  bottom: 0;
  border-radius: 10px;
}

.quality_desktop_img_block {
  display: none;
}

@media screen and (min-width: 768px) {
  .quality_block {
    padding: 64px 58px;
  }
  .quality_title {
    font-size: 32px;
    line-height: 150%;
  }
}
@media screen and (min-width: 992px) {
  .quality_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 125px;
    padding: 88px 85px;
  }
  .quality_block::before {
    height: 474px;
  }
  .quality_img_block {
    display: none;
  }
  .quality_desktop_img_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 445px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .quality_content {
    width: 540px;
    margin-top: 176px;
    text-align: start;
  }
}
.head {
  padding-top: 120px;
  padding-bottom: 120px;
}

.head_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #83888f;
  margin-bottom: 72px;
}

.head_item {
  text-align: center;
}

.head_list {
  margin-bottom: 80px;
}

.head_in_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 129%;
  color: #333d4b;
  margin-bottom: 22px;
  margin-top: 40px;
}

.head_link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #333d4b;
}

@media screen and (min-width: 768px) {
  .head {
    padding-bottom: 0;
  }
  .head_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head_title {
    text-align: start;
  }
  .head_item {
    text-align: start;
  }
  .head_in_title {
    font-size: 24px;
    line-height: 150%;
  }
}
@media screen and (min-width: 992px) {
  .head {
    padding-bottom: 0;
  }
  .head_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head_title {
    text-align: start;
  }
  .head_item {
    text-align: start;
  }
  .head_in_title {
    font-size: 32px;
    line-height: 112%;
  }
}/*# sourceMappingURL=main.css.map */