.our{
    padding-top: 120px;
    padding-bottom: 120px;
}


.our_block{
text-align: center;
}

.our_img_block{
    width: 327px;
    margin-left: auto;
    margin-right: auto;
}

.our_title{
    font-family: var(--font-family);
font-weight: 900;
font-size: 32px;
line-height: 150%;
color: #333d4b;
margin-top: 48px;
}

.our_text{
    font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
line-height: 167%;
color: #333d4b;
margin-top: 30px;
}


@media screen and (min-width: 768px) {
    
    .our_block{
        display: flex;
        gap: 69px;
        text-align: start;
    }

    .our_img_block{
        width: 281px;
        flex-shrink: 0;
    }

    .our_content{
        width: 339px
    }
}

@media screen and (min-width: 992px) {
    .our_block{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 69px;
        text-align: start;
    }

    .our_img_block{
        width: 445px;
        flex-shrink: 0;
    }

    .our_content{
        width: 540px
    }
}