.work_title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #83888f;
    margin-bottom: 80px;
}

.work_list_title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 28px;
    line-height: 114%;
    color: #333d4b;
    margin-top: 24px;
    margin-bottom: 24px;
}

.work_list_text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #333d4b;
}

.work_item {
    text-align: center;
    margin-bottom: 56px;

    &::before {
        content: "01";
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 72px;
        line-height: 100%;
        color: #fdd6ba;
    }

    &:nth-child(2)::before{
        content: "02";
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 72px;
        line-height: 100%;
        color: #fdd6ba;
    }
    
    &:nth-child(3)::before{
        content: "03";
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 72px;
        line-height: 100%;
        color: #fdd6ba;
    }
}


.work_btn{
    border-radius: 6px;
    background-color: #0e8784;
    padding: 16px 31px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: #fefcf7;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: max-content;
}

.work_line_list {
    width: 497px;
    height: 2px;
    background-color: #fdd6ba;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 48px;
    display: none;
}


.work_line_item1 {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #0e8784;
    position: absolute;
    left: 0;
    animation-name: box_item;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.work_line_item2 {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #0e8784;
}

.work_line_item3 {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #0e8784;
    position: absolute;
    right: 0;
    animation-name: box_item3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes box_item {
    0% {
        left: 0;
        transform: rotateX(0);
        background: #fff;
    }


    50% {
        left: 90%;
        transform: rotateX(360deg);
        background: blueviolet;
    }

    100% {
        left: 0;
        transform: rotateX(0);
        background: #fff;
    }
}

@keyframes box_item3 {
    0% {
        right: 0;
        transform: rotateX(0);
        background: #fff;
    }

    50% {
        right: 90%;
        transform: rotateX(360deg);
        background: blueviolet;
    }

    100% {
        right: 0;
        transform: rotateX(0);
        background: #fff;
    }
}

@media screen and (min-width: 768px) {
    .work_line_list{
        display: flex;
    }

    .work_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 15px;
    }

    .work_list_title{
        width: 223px;
    }

    .work_list_text{
        width: 223px;
    }

    .work_item{
        text-align: start;
    }

    .work_title{
        text-align: start;
        margin-bottom: 0;
    }

    .work_btn{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    .work_line_list{
        display: flex;
        width: 760px;
        margin-top: 80px;
        margin-bottom: 67px;
    }

    .work_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 95px;
    }

    .work_list_title{
        width: 230px;
    }

    .work_list_text{
        width: 268px;
    }

    .work_item{
        text-align: start;
    }

    .work_title{
        text-align: start;

    }

    .work_btn{
        margin-left: 0;
        margin-right: 0;
    }
}

